version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: edulife
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'
  backend:
    build: ./backend
    depends_on: ['postgres']
    environment:
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/edulife
      - JWT_SECRET=supersecret_jwt_key_here_change
    ports:
      - '5000:5000'
  frontend:
    build: ./frontend
    ports:
      - '80:80'
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - '9090:9090'
  grafana:
    image: grafana/grafana:latest
    ports:
      - '3000:3000'
  cadvisor:
    image: google/cadvisor:latest
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - '8080:8080'
volumes:
  pgdata:
